* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    width: 500px;
    height: auto;
}

menu {
    width: 490px;
    height: auto;
    background-color: aliceblue;
    border-bottom: 2px solid black;
}

.logo {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px;
}


nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.cab-p {
    background-color: white;
    border: 1px solid rgba(150, 190, 223, 0.733);
    border-radius: 5px;
    padding: 5px;
    width: 90px;
    text-align: center;
}

.menu {
    display: inline;
    background-color: white;
    padding: 5px;
    border: 1px solid;
    border-radius: 50px;
    margin:4px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13px;
    color: black;
}

a:hover {
    background-color: blanchedalmond;
}


